
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bangkok congestion map</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://open.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=t6bqLYrVfG5MgE1RFRXFTVK7Omc5GALe"></script>
		<style type="text/css">
		
			html, body { 
			        height:100%
			    }
			#mapid{
				margin: 10px auto;
				width: 90%;
				height: 80%;
			}
			.info {
			    padding: 5px;
			    font: 29px sans-serif;
			    background: white;
			    background: rgba(255,255,255,0.8);
			    box-shadow: 0 0 10px rgba(0,0,0,0.2);
			    border-radius: 5px;
			}
			.legend {
			    line-height: 30px;
			    color: #555;
			}
			.legend i {
			    width: 29px;
			    height: 29px;
			    float: left;
			    margin-right: 5px;
			    opacity: 0.7;
			}
			#clock{
				height:60px;
				width: 200px;
				margin: 5px auto;
				text-align: center;
				font-size: 60px;
				color: black;
				background-color: #80d4ea;
			}
			#control{
				height:30px;
				width: 100px;
				margin: 5px auto;
				display: block;
				font-size: 20px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id='clock'></div>
  			<input type="button" id='control' value ='Autoplay'>
		<div id="mapid"></div>
		<script>
			var hour = 0;
				min = 0,
				utc_id = 0,
				local_time_id = 0;

			function getTime(){
				if (realTime){
					var now = new Date();
					var _hour = now.getHours();
					var _min = now.getMinutes();
					if(_min<20){
						local_time_id = _hour*2;
					}else if(_min<40){
						local_time_id = _hour*2+1;
					}else{
						local_time_id = _hour*2+2;
					}
					// utc_id, local(bangkok) = UTC+7
					utc_id = local_time_id -14
					if(utc_id <0){
						utc_id = utc_id + 48;
					}
				}else if(utc_id<48){
					var _hour = parseInt(utc_id/2)+7; 
					var _min = (utc_id%2)*30;
					utc_id = utc_id + 1;
					}else{
						var _hour = 7;
						var _min = 0;
						utc_id = 1;
					}
				if (_hour<10){
					_hour = '0' + _hour;
				}else if (_hour >= 24){
					_hour = _hour-24;
					_hour = '0' + _hour;
				}
				if (_min<10){
					_min = '0' + _min;
				}
				var clock = $('#clock').text(_hour+":"+_min);
				console.log('LocalTime: '+_hour+":"+_min);
				return utc_id;
				}

		    // code for mapbox tile
		    var Attr = '&copy; <a href="http://huster-wgm.herokuapp.com/">Huster-wgm</a> Imagery © <a href="http://mapbox.com">Mapbox</a>',
		    	light_url = 'https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaHVzdGVyLXdnbSIsImEiOiJjaXl2OGo4ODkwMDE2Mnd1eml6ZjR2bHFhIn0.cNsihlDcPlI1eEuNwl_-vg',
		    	street_url = 'https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaHVzdGVyLXdnbSIsImEiOiJjaXl2OGo4ODkwMDE2Mnd1eml6ZjR2bHFhIn0.cNsihlDcPlI1eEuNwl_-vg',
		    	stallite_url = 'https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaHVzdGVyLXdnbSIsImEiOiJjaXl2OGo4ODkwMDE2Mnd1eml6ZjR2bHFhIn0.cNsihlDcPlI1eEuNwl_-vg',
		    	dark_url = 'https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaHVzdGVyLXdnbSIsImEiOiJjaXl2OGo4ODkwMDE2Mnd1eml6ZjR2bHFhIn0.cNsihlDcPlI1eEuNwl_-vg';



			var mb_light = L.tileLayer(light_url, {attribution: Attr}),
				mb_street = L.tileLayer(street_url, {attribution: Attr}),
				mb_dark = L.tileLayer(dark_url, {attribution: Attr}),
				mb_stallite = L.tileLayer(stallite_url, {attribution: Attr}),
				MQ_tile = MQ.mapLayer();

		    var map = L.map('mapid',{
		    	layers:[MQ_tile, mb_light, mb_street, mb_dark, mb_stallite],
		    	center:[13.736717, 100.523186],
		    	zoom: 13,
		    	renderer: L.canvas(),
		    });

			var Layers = {
				"MapRequest": MQ_tile,
				"Mapbox Light": mb_light,
				"Mapbox Street": mb_street,
				"Mapbox Dark": mb_dark,
				"Mapbox Stallite":mb_stallite,
			};

			L.control.layers(Layers).addTo(map);

			function getColor(d) {
				var colors = ['#238b45','#fee0d2','#fc9272','#de2d26'];
			    return d > 45   ? colors[0]:
			    	   d > 30   ? colors[1]:
			           d > 15   ? colors[2]:
			                      colors[3];
			}

			var legend = L.control({position: 'bottomright'});
			legend.onAdd = function (map) {

				var div = L.DomUtil.create('div', 'info legend'),
					grades = [0, 15, 30, 45],
					labels = [],
					from, to;

				for (var i = 0; i < grades.length; i++) {
					from = grades[i];
					to = grades[i + 1];

					labels.push(
						'<i style="background:' + getColor(from + 1) + '"></i> ' +
						from + (to ? '&ndash;' + to : '+'));
				}

				div.innerHTML = labels.join('<br>');
				return div;
			};

			legend.addTo(map);
			/*
			request data from server and visualize by creating geoLayer
			*/
			function createMap() {
			    var geoData; 
			    $.ajax('./update_map', {
				    data: {'time': utc_id},
				    dataType: 'json',
				    success: function (data){
				        // update utc_id
					    if (!realTime){
					    	getTime();
					    };
					    // remove existed geoLayer
				        if (exist){
				        	geoLayer.remove();
				        }
				        console.log("Number of points: "+data.features.length);
				        geoLayer = L.geoJSON(data, {
				        	style:function(feature){
								    return {
								        color: getColor(feature.properties.speed),
									    weight: 2,
									    fillOpacity: 0.9
								    };
				        	}
				        });
				        // update map
				        geoLayer.addTo(map);
				        // set exist to true
				        exist = true;
				        console.log('Updating the geolayer');
				    } 
			    });
	
            };
            // get current time
            var realTime = true;
            // varible indicate existence of geoLayer
            var exist = false;
			getTime();
			createMap();
			$("#clock").click(function(){
				realTime = true;
				getTime();		
				createMap();
				if ($("#control").val() === 'Stop'){
					$("#control").attr("value",'Autoplay');
					console.log('cleaning setInterval...');
					clearInterval(int1);
				}
			});
			$("#control").click(function(){
				var value = $('#control').val();
				console.log(value);
				if (value === "Autoplay"){
					value = "Stop";
				}else{
					value = "Autoplay";
				}
				$("#control").attr("value",value);
				// update visualization on the basis of control
				if (value === "Stop"){
					realTime = false;
					utc_id = 34;		
					int1 = setInterval(createMap, 1000);
				}else{
					console.log('cleaning setInterval...'); 
					clearInterval(int1);
				}
				
				});

		</script>
	</body>
</html>
